.body {
  background-color: rgb(250, 246, 246);
}

.custom-dropdown {
    background-color:black; /* Set background color */
    color: white; /* Set text color */
  }


  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-icon {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .theme-light {
    background-color: #fff;
    color: #000;
  }
  
  .theme-dark {
    background-color: #000;
    color: #fff;
  }


  
  